GRPC_ADDR=:50051

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=no-reply@example.com
SMTP_PASS=replace-with-app-password

SMTP_FROM_NAME=Aesterial Mail Proxy
SMTP_FROM_EMAIL=no-reply@example.com
SMTP_REPLY_TO=support@example.com

SMTP_SECURE=false
SMTP_STARTTLS=true
SMTP_DIAL_TIMEOUT=10s
SMTP_SEND_TIMEOUT=30s
